@layer components {
  .navbar-wrapper {
    /* max-width: var(--container-max-width); */
    position: fixed;
    z-index: 1000;
    bottom: var(--space-4);
  }
  .navbar {
    /* position: sticky; */
    background-color: var(--bg-surface);
    padding: var(--space-4);
    border-radius: var(--radius-full);
    border: 1px solid var(--border-strong);
    display: block;
    z-index: 1000;
  }

  .navbar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--space-8);
  }

  .navbar__link {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .navbar__link--cart {
    position: relative;

    #cart-count {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      background-color: var(--text-red);
      color: var(--text-inv);
      border-radius: var(--radius-full);
      font-weight: 700;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-xs);
    }

    #cart-count[data-count='0'] {
      display: none;
    }
  }

  .navbar__link:hover,
  .navbar__link--active {
    color: var(--text-main);
  }

  @media (min-width: 1023px) {
    .navbar-wrapper {
      position: sticky;
      bottom: auto;
      top: var(--space-4);
    }
    .navbar {
      /* top: var(--space-4); */
    }
  }
}
